REACT_APP_WS_CAPTIONS_URL="wss://<API-ID>.execute-api.<REGION>.amazonaws.com/<STAGE>"
REACT_APP_STREAM_PLAYBACK_URL="https://<ID>.<ZONE>.playback.live-video.net/api/video/v1/<ZONE>.<ACCOUNT_ID>.channel.<MANIFEST>"
REACT_APP_CAPTIONS_TRANSLATIONS_LANGUAGE_CODES="<LANGUAGE-CODE-1>-<LANGUAGE-CODE-2>-<...>"
REACT_APP_ENABLE_TRANSLATE="<true>/<false>"
REACT_APP_AUDIO_LANGUAGE_CODE="<LANGUAGE-CODE>"

# REACT_APP_WS_CAPTIONS_URL="wss://555x3s255h.execute-api.us-east-1.amazonaws.com/demo"
# REACT_APP_STREAM_PLAYBACK_URL="https://a0bf5550fcbb.us-east-1.playback.live-video.net/api/video/v1/us-east-1.339713139041.channel.OmAfnFNw8Ioh.m3u8"
# REACT_APP_CAPTIONS_TRANSLATIONS_LANGUAGE_CODES="en-vi"
# REACT_APP_ENABLE_TRANSLATE="true"
# REACT_APP_AUDIO_LANGUAGE_CODE="en"